* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  height: 100vh;
  background: #fde9ea;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  flex-wrap: wrap;
}
/* .circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.rectangle {
  display: flex;
  justify-content: center;
  margin: auto auto;
  background-color: pink;
  width: 50%;
  height: 60vh;
} */
.rectangle {
  width: 50%;
  height: 65vh;
  
  margin-top: 20vh;
  border-radius: 30px;
  border: 0.9rem dotted rgb(254, 182, 194);
  /* box-shadow: rgb(95, 36, 73) 0px 20px 30px -10px; */
  box-shadow: inset 0 5px 25px rgb(94, 28, 39);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem rgb(254, 182, 194),
    0 0 0.5rem rgb(254, 182, 194), 0 0 1rem rgb(254, 182, 194),
    inset 0 0 1rem rgb(254, 182, 194);background: #ffffff;
}

.circle {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  border: 4px solid white;
  top: 12%;
  background: rgb(254, 182, 194);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.question--mark {
  margin: 15%;
  font-size: 5rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-shadow: 1px 0px 1px rgb(252, 127, 148), 0px 1px 1px #eeeeee,
    2px 1px 1px rgb(252, 127, 148), 1px 2px 1px rgb(252, 127, 148),
    3px 2px 1px rgb(252, 127, 148), 2px 3px 1px rgb(252, 127, 148),
    3px 3px 1px rgb(252, 127, 148), 3px 4px 1px rgb(252, 127, 148),
    3px 2px 1px rgb(252, 127, 148), 3px 4px 1px rgb(253, 104, 129),
    4px 4px 1px rgb(252, 127, 148), 3px 4px 1px rgb(255, 105, 130),
    4px 3px 1px rgb(252, 109, 133);
}
.guess_box {
  margin-top: 10%;
  font-size: 2rem;
}

.btn__check {
  padding: 1rem;
}
.question {
  margin-top: 0.9rem;
  font-size: 1.5rem;
  padding: 0.3rem;
  color: rgb(67, 67, 67);
}
.in {
  display: block;
  /* margin-right: 0.5rem; */
  font-size: 1.3rem;
  color: rgb(67, 67, 67);
}
.hint {
  display: block;
  margin-right: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: rgb(67, 67, 67);
  font-style: italic;
}
.btn {
  padding: 0.2rem;
  display: block;
  margin-top: 1rem;
  width: 24%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.4rem;
  color: rgb(255, 161, 177);
  background-color: white;
  border: rgb(255, 161, 177) solid 1.5px;
  cursor: pointer;
  font-size: 1rem;
}
.btn:hover {
  border: pink solid 2px;
  color: rgb(255, 142, 161);
}
.next-btn {
  padding: 0.2rem;
  display: block;
  margin-top: 4rem;
  width: 24%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.4rem;
  color: rgb(255, 161, 177);
  background-color: white;
  border: rgb(255, 161, 177) solid 1.5px;
  cursor: pointer;
  font-size: 1rem;
}
.inpt {
  border: 1.6px solid rgb(255, 161, 177);
  padding: 0.4rem;
  /* width: 55%; */
  margin-top: 1rem;
  text-align: center;
}
.input::placeholder {
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn__check {
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  max-width: 550px;
  text-align: center;
}
