* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(./hand-painted-watercolor-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 43.75rem;
  /* min-height: 45vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
header {
  /* font-family: "Moon Dance", cursive; */
  /* font-family: 'Solitreo', cursive; */
  font-size: 4rem;
  /* font-style: italic; */
  color: rgb(72, 13, 13);
  margin: 1rem;
}
p {
}
.todo-add {
  display: flex;
}
#todo-input {
  border: none;
  padding: 0.5rem;
  border: none;
  font-family: "Solitreo", cursive;
  font-size: 1.5rem;
  color: rgb(72, 13, 13);
  border-color: rgb(72, 13, 13);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  outline: none;
  border-bottom-left-radius: 15px 255px;
  width: 20.4rem;
  outline: none;
}
input:focus {
}
#todo-button {
  color: rgb(72, 13, 13);

  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  color: rgb(72, 13, 13);
  border-color: rgb(72, 13, 13);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  width: 4rem;
}

button:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}
.todos {
  margin-top: 2rem;
}
#todo-ul {
  list-style: none;
}
ul li {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 13, 13);
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  width: 25rem;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}
ul li:hover {
  transform: translate(3px, 2px);
}

li i {
  padding: 1rem;
  color: rgb(72, 13, 13);
  transform: scale(1.3);
  cursor: pointer;
}

li i:hover {
  color: maroon;
}

li p {
  width: 100%;
  padding: 0.4rem;
  font-family: "Solitreo", cursive;
}

li.checked .fa-check {
  color: #00e676;
}

li.checked p {
  color: rgb(41, 41, 41);
  text-decoration: line-through;
  font-weight: normal;
}

@media screen and (max-width: 576px) {
  li p {
    font-size: 0.8rem;
  }
  header {
    font-size: 3rem;
  }
  #todo-input {
    width: 15rem;
  }
  #todo-button {
    width: 3rem;
  }
  ul li {
    width: 18rem;
  }
}
