* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

head {
}

header {
  display: grid;
  justify-content: center;
}

header p#main-title {
  /* border: 2px solid red; */
  font-size: 55px;
  letter-spacing: 3px;
}

main {
  display: grid;
  justify-content: center;
}

section {
  display: flex;
  width: 80%;
  /* border: 3px solid rgb(111, 255, 0); */
  margin: 1rem auto;
  padding: 15px;
  background-color: pink;
  border-radius: 5px;
  transition: all 0.3s;
}
section:hover {
  transform: scale(1.03);
}
div.photo {
  /* border: 3px solid red; */
  /* overflow: hidden; */

  position: relative;
}
img {
  display: inline;
  width: 390px;
}
div.info {
  padding-left: 10px;
}
h2 {
}
p {
  display: block;
  text-indent: 20px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

button {
}

a {
}

img:active {
}
